# Yarn configuration file

# Set the registry to use
registry "https://registry.yarnpkg.com"

# Set the preferred package manager version
yarn-version "1.22.19"

# Set the preferred node version
node-version "21.6.1"
