# backend/ws/.yarnrc

# Use Workspaces (if needed, though it's typically inherited)
workspaces-experimental true

"@paybox:registry" "https://registry.yarnpkg.com/"

# Specify private registry for private packages
# "@paybox:registry" "https://your-private-registry-url/"

# Use selective version resolutions if needed
# For example, to specify a different version of a package for this workspace
# "@paybox/ws" "1.0.0"
